PcPart_MVC_Client/MVC_Client/Service References/PcPart/ModelLayer.Hardware.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCPU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPU" nillable="true" type="tns:CPU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPU" nillable="true" type="tns:ArrayOfCPU" />
  <xs:complexType name="CPU">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseClock" type="xs:double" />
      <xs:element minOccurs="0" name="BoostClock" type="xs:double" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUnlocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModelNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Socket" nillable="true" type="tns:Socket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPU" nillable="true" type="tns:CPU" />
  <xs:complexType name="Socket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Architecture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocketType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Socket" nillable="true" type="tns:Socket" />
</xs:schema>