PcPart_MVC_Client/MVC_Client/Service References/PcPart/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" />
  <xs:element name="FindCPUsByBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUsByBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindCPUsByBrandResult" nillable="true" type="q1:ArrayOfCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindCPUsByCategoryResult" nillable="true" type="q2:ArrayOfCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCPUs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCPUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindAllCPUsResult" nillable="true" type="q3:ArrayOfCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>