PcPart_MVC_Client/MVC_Client/Service References/PcPart/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer.Basket" />
  <xs:element name="CreateCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="cpu" nillable="true" type="q1:CPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCPUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="cpu" nillable="true" type="q2:CPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCPUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCPUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUsByBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUsByBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindCPUsByBrandResult" nillable="true" type="q3:ArrayOfCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindCPUsByCategoryResult" nillable="true" type="q4:ArrayOfCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCPUs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCPUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindAllCPUsResult" nillable="true" type="q5:ArrayOfCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCPUbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindCPUbyIdResult" nillable="true" type="q6:CPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStorageByManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStorageByManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindStorageByManufacturerResult" nillable="true" type="q7:ArrayOfStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStorageByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStorageByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindStorageByCategoryResult" nillable="true" type="q8:ArrayOfStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllStorage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindAllStorageResult" nillable="true" type="q9:ArrayOfStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRamByManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRamByManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindRamByManufacturerResult" nillable="true" type="q10:ArrayOfRAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRamByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRamByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindRamByCategoryResult" nillable="true" type="q11:ArrayOfRAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllRam">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllRamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindAllRamResult" nillable="true" type="q12:ArrayOfRAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMotherboardByManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMotherboardByManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindMotherboardByManufacturerResult" nillable="true" type="q13:ArrayOfMotherboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMotherboardByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMotherboardByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindMotherboardByCategoryResult" nillable="true" type="q14:ArrayOfMotherboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMotherboard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMotherboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindAllMotherboardResult" nillable="true" type="q15:ArrayOfMotherboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGpuByManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGpuByManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindGpuByManufacturerResult" nillable="true" type="q16:ArrayOfGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGpuByModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGpuByModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindGpuByModelResult" nillable="true" type="q17:ArrayOfGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGpuByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGpuByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindGpuByCategoryResult" nillable="true" type="q18:ArrayOfGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllGpus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllGpusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindAllGpusResult" nillable="true" type="q19:ArrayOfGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindComputerCaseByManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindComputerCaseByManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindComputerCaseByManufacturerResult" nillable="true" type="q20:ArrayOfComputer_Case" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindComputerCaseByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindComputerCaseByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindComputerCaseByCategoryResult" nillable="true" type="q21:ArrayOfComputer_Case" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllComputerCases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllComputerCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindAllComputerCasesResult" nillable="true" type="q22:ArrayOfComputer_Case" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="customer" nillable="true" type="q23:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="customer" nillable="true" type="q24:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="FindCustomerByIdResult" nillable="true" type="q25:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomerByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomerByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="FindCustomerByNameResult" nillable="true" type="q26:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="FindAllCustomersResult" nillable="true" type="q27:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ModelLayer.Basket" minOccurs="0" name="basket" nillable="true" type="q28:Basket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBasketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSocket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSocketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" minOccurs="0" name="FindSocketResult" nillable="true" type="q29:Socket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>