Test/Test/Service References/PcPartService/ModelLayer.Hardware.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLayer.Hardware" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CPU">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseClock" type="xs:double" />
      <xs:element minOccurs="0" name="BoostClock" type="xs:double" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPUId" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUnlocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModelNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Socket" nillable="true" type="tns:Socket" />
      <xs:element minOccurs="0" name="SocketId" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPU" nillable="true" type="tns:CPU" />
  <xs:complexType name="Socket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Architecture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocketType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Socket" nillable="true" type="tns:Socket" />
  <xs:complexType name="ArrayOfCPU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPU" nillable="true" type="tns:CPU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPU" nillable="true" type="tns:ArrayOfCPU" />
  <xs:complexType name="ArrayOfStorage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Storage" nillable="true" type="tns:Storage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorage" nillable="true" type="tns:ArrayOfStorage" />
  <xs:complexType name="Storage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="StorageId" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Storage" nillable="true" type="tns:Storage" />
  <xs:complexType name="ArrayOfRAM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RAM" nillable="true" type="tns:RAM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRAM" nillable="true" type="tns:ArrayOfRAM" />
  <xs:complexType name="RAM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RAM" nillable="true" type="tns:RAM" />
  <xs:complexType name="ArrayOfMotherboard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motherboard" nillable="true" type="tns:Motherboard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotherboard" nillable="true" type="tns:ArrayOfMotherboard" />
  <xs:complexType name="Motherboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chipset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motherboard" nillable="true" type="tns:Motherboard" />
  <xs:complexType name="ArrayOfGPU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GPU" nillable="true" type="tns:GPU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGPU" nillable="true" type="tns:ArrayOfGPU" />
  <xs:complexType name="GPU">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boardpartner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPUId" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="VRamAmount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GPU" nillable="true" type="tns:GPU" />
  <xs:complexType name="ArrayOfComputer_Case">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Computer_Case" nillable="true" type="tns:Computer_Case" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComputer_Case" nillable="true" type="tns:ArrayOfComputer_Case" />
  <xs:complexType name="Computer_Case">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseId" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Computer_Case" nillable="true" type="tns:Computer_Case" />
</xs:schema>